<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.odembed">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ClassifierActivity"
            android:label="@string/app_name_classifier"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".ui.DetectorActivity"
            android:label="@string/app_name_detector"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".ui.PhotoDetectorActivity"
            android:label="@string/title_activity_photo_detector" />
        <activity
            android:name=".ui.PhotoClassifierActivity"
            android:label="@string/title_activity_photo_classifier" />
        <activity
            android:name=".ui.FaceActivity"
            android:label="@string/app_name_face"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".ui.FaceRegisterActivity"
            android:label="@string/app_name_face_register"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".ui.FaceMgmtActivity"
            android:label="@string/app_name_face_mgmt"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>